.yarn
node_modules
.DS_Store
.idea
.vscode
.env
.env.production
.env.development

docker-compose.yml

workflow JMDB dev.pdf
structure.txt
/scripts
/frontend/src/components/AdminFeatures/AddNewMovie/AddNewMovie.jsx.backup